.breadcrumb-item-wrapper {
  display: flex;
}
.breadcrumb-item {
  color: #272727;
  font-size: 14px;
  transition: color $base-duration $base-timing;
  &:hover {
    color: $accent;
  }
}
.breadcrumb-item--last {
  color: $accent;
}
