.base-search-input {
  border: none;
  transition: box-shadow $base-duration $base-timing;
  box-shadow: 0px 1px 0px 0px #bfbfbf;
  &:focus {
    box-shadow: 0px 2px 0px 0px #bfbfbf;
  }
}
.base-input {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  padding: 14px 12px;
  line-height: 24px;
  font-size: rem(16);
  font-weight: 300;
  border: none;
  &::placeholder {
    color: #a3a3a3;
  }
}

.checkbox-wrapper {
  display: flex;
}
.checkbox-input {
  @extend .visually-hidden;
  &:checked + .checkbox::before {
    opacity: 1;
  }
}
.checkbox {
  position: relative;
  display: block;
  background-color: #fff;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 3px;
    width: 10px;
    height: 6px;
    border-left: 2px solid #592c82;
    border-bottom: 2px solid #592c82;
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity $base-duration $base-timing;
  }
}
.checkbox-text {
  font-size: rem(16);
  color: #2b2b2b;
}
.radio-main {
  @extend .visually-hidden;
  &:checked + .radio-main-fake::after,
  &:checked + .radio-main-wrapper .radio-main-fake::after {
    opacity: 1;
  }
}
.radio-main-fake {
  flex: 0 0 auto;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #b4b4b4;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #dc2c7a;
    opacity: 0;
  }
}
.radio-main-fake--purple {
  &::after {
    background-color: #c0a7d7;
  }
}
.radio-main-fake--small {
  width: 14px;
  height: 14px;
  &::after {
    width: 8px;
    height: 8px;
  }
}
.select-main-wrapper {
  position: relative;
  display: table;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border-left: 1px solid #434343;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/dest/icons/sel-arrow.png');
  }
}
.select-main {
  width: 100%;
  color: #272727;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #434343;
  appearance: none;
  height: 50px;
  padding: 0 40px 0 10px;
  text-align: center;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.select-transparent-wrapper {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/dest/icons/sel-arrow.png');
  }
}
.select-transparent {
  border: none;
  appearance: none;
  padding-right: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #272727;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.lk-input-wrapper {
  position: relative;
  display: block;
  width: 100%;
}
.lk-input-title {
  font-size: 16px;
  font-weight: 300;
  color: #592c82;
  margin-bottom: 6px;
}
.lk-input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  padding: 8px 0;
  color: #272727;
  font-size: 16px;
  font-weight: 300;
}
.lk-input--select {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('../images/dest/icons/arrow-select-lk.png');
  appearance: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.base-textarea {
  width: 100%;
  resize: none;
  border: 2px solid #d2d2d2;
  display: block;
  padding: 8px;
  color: #272727;
  font-size: 16px;
  font-weight: 300;
}
// datapicker
.ui-datepicker {
  display: none;
  background-color: $white;
  border: 1px solid #272727;
  border-radius: 8px;
  box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 12px 16px;
  margin: 0 0 0 0;
  z-index: 20 !important;
}
.ui-datepicker-current {
  display: none;
}
.ui-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 6px 9px;
  cursor: pointer;
  transition: opacity $base-duration $base-timing;
  &:active {
    opacity: 0.8;
  }
}
.ui-datepicker-prev {
  order: 1;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 6 9' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.04986.638958c.38665.386652.38665 1.014252 0 1.400902l-2.63463 2.63463 2.63463 2.63462c.38665.38665.38665 1.01425 0 1.4009s-1.01425.38665-1.4009 0l-3.37524-3.37523c-.365168-.36517-.3651679-.95635 0-1.32059l3.37524-3.375232c.38665-.386648 1.01425-.386648 1.4009 0z' fill='%23777'/%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 6 9' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.04986.638958c.38665.386652.38665 1.014252 0 1.400902l-2.63463 2.63463 2.63463 2.63462c.38665.38665.38665 1.01425 0 1.4009s-1.01425.38665-1.4009 0l-3.37524-3.37523c-.365168-.36517-.3651679-.95635 0-1.32059l3.37524-3.375232c.38665-.386648 1.01425-.386648 1.4009 0z' fill='%232462F2'/%3E%3C/svg%3E");
  }
}
.ui-datepicker-next {
  order: 3;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 6 9' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.62983 8.36104c-.386648-.38665-.386648-1.01425 0-1.4009l2.63463-2.63463-2.63463-2.63462c-.386648-.38665-.386648-1.014255 0-1.400904.38665-.3866481 1.01425-.3866481 1.4009 0l3.37524 3.375234c.36517.36517.36517.95635 0 1.32059l-3.37524 3.37523c-.38665.38665-1.01425.38665-1.4009 0z' fill='%23777'/%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 6 9' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.62983 8.36104c-.386648-.38665-.386648-1.01425 0-1.4009l2.63463-2.63463-2.63463-2.63462c-.386648-.38665-.386648-1.014255 0-1.400904.38665-.3866481 1.01425-.3866481 1.4009 0l3.37524 3.375234c.36517.36517.36517.95635 0 1.32059l-3.37524 3.37523c-.38665.38665-1.01425.38665-1.4009 0z' fill='%232462F2'/%3E%3C/svg%3E");
  }
}
.ui-datepicker-title {
  order: 2;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  padding: 0 18px;
}
.ui-datepicker-calendar {
  th {
    font-size: 12px;
    line-height: 32px;
    color: #272727;
    font-weight: normal;
    text-align: center;
  }
  td {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 32px;
      height: 32px;
      font-weight: normal;
      font-size: 12px;
      line-height: 32px;
      color: $black;
      background-color: transparent !important;
      text-align: center;
      transition: color $base-duration $base-timing;
      &:hover {
        color: rgba($color: $black, $alpha: 0.8);
      }
      &:focus {
        color: rgba($color: $black, $alpha: 0.8);
      }
      &.ui-state-active {
        border: 1px solid $accent;
        color: rgba($color: $black, $alpha: 0.9) !important;
      }
      .ui-state-highlight {
        border: 1px solid $black;
      }
    }
  }
}
.ui-datepicker-buttonpane {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
  // @media screen and (max-width: $mobile-bp) {
  //   display: block;
  // }
}
.ui-datepicker-close {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='11' viewBox='0 0 11 11' width='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23444'%3E%3Cpath d='m10.2201-.00005801-10.2201 10.22005801.779778.7797 10.220122-10.219986z'/%3E%3Cpath d='m10.9994 10.2203-10.220103-10.22005586-.77977834.77977186 10.22008134 10.219984z'/%3E%3C/g%3E%3C/svg%3E");
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='11' viewBox='0 0 11 11' width='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232462F2'%3E%3Cpath d='m10.2201-.00005801-10.2201 10.22005801.779778.7797 10.220122-10.219986z'/%3E%3Cpath d='m10.9994 10.2203-10.220103-10.22005586-.77977834.77977186 10.22008134 10.219984z'/%3E%3C/g%3E%3C/svg%3E");
  }
}
