.catalog-breadcrumbs-block {
  padding-top: 24px;
  margin-bottom: 30px;
}
.catalog-sidebar-title {
  color: #171717;
  font-size: 24px;
  margin-bottom: 16px;
}
.main-catalog-sidebar-title--block {
  margin-bottom: 16px;
}
.main-catalog-sidebar {
  flex: 0 0 auto;
  width: 205px;
}
.main-catalog-sidebar-block--top {
  margin-bottom: 20px;
}
.main-catalog-sidebar-title {
  color: #623294;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.radio-main-wrapper--catalog-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.radio-main--catalog-sidebar {
  &:checked + .radio-main-wrapper--catalog-sidebar {
    .main-catalog-sidebar-title {
      color: #dc2c7a;
    }
  }
}

.main-catalog-sidebar-name {
  position: relative;
  font-size: 14px;
  color: #3e3740;
  margin-right: 10px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 111px;
    height: 1px;
    background-color: #623294;
  }
}
.radio-main-wrapper--main-catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.main-catalog-sidebar-inner {
  padding: 15px;
  margin-bottom: 18px;
}
.main-catalog-sidebar-inner--gray {
  background-color: #fafafa;
}
.btn-main--catalog-sidebar {
  font-size: 14px;
  font-weight: normal;
  padding: 11px 10px 9px 10px;
  width: 150px;
  &:first-child {
    margin-bottom: 10px;
  }
}
.main-catalog-col {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 20px;
}
.catalog-card-col {
  flex-basis: calc((100% - 20px * 2) / 3);
  max-width: calc((100% - 20px * 2) / 3);
  margin-right: 20px;
  margin-bottom: 20px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.catalog-product-promo {
  background-color: #f4f7f9;
  padding: 25px 0;
  margin-bottom: 40px;
}
.catalog-choice {
  margin-bottom: 70px;
}
.catalog-feature {
  background-color: #f4f7f9;
  padding: 25px 0;
}
.catalog-promo-text-inner {
  position: relative;
  max-width: 640px;
  padding: 60px 0 40px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -260px;
    width: 1200px;
    height: 100%;
    z-index: -1;
    background-color: #ebe4f2;
  }
}
.catalog-promo-block {
  margin-bottom: 120px;
}
.catalog-promo-text-title {
  color: #9776b2;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}
.catalog-promo-text-desc {
  color: #2c2c2c;
  font-size: 22px;
  font-weight: 300;
  hyphens: auto;
}
.catalog-promo-img-col {
  position: relative;
  padding-left: 80px;
  flex-grow: 1;
  img {
    position: absolute;
    display: block;
    left: 80px;
    top: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -260px;
    width: 600px;
    height: 426px;
    background-color: #9776b2;
  }
}
.catalog-range-number {
  display: flex;
  color: #3e3740;
  font-size: 14px;
}
.catalog-range {
  height: 2px;
  .ui-slider-handle {
    height: 10px;
    width: 10px;
    background-color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 0;
    cursor: pointer;
    &:focus,
    .ui-state-focus,
    .ui-state-active {
      outline: none;
    }
  }
}
.catalog-range-wrapper {
  position: relative;
  padding: 10px;
  margin-bottom: 25px;
}
.main-catalog-sidebar-title--number {
  text-transform: none;
}

.main-catalog-more-btn {
  display: table;
  margin: 20px auto 40px auto;
}
