<header class="main-header">
  <div class="main-header-feature">
    <div class="container">
      <p class="main-header-feature-text">Бесплатная доставка по всей россии</p>
    </div>
  </div>
  <div class="main-header-top-wrapper">
    <ul class="main-header-top container">
      <li class="main-header-top-item"><button class="main-header-top-item-dropdown">Москва</button></li>
      <li class="main-header-top-item"><a href="#" >Магазины</a></li>
      <li class="main-header-top-item"><span ><a href="tel:+7(495)777-17-39">+7 (495)777-17-39</a>, пн-пт с 9:00 до 18:00</span></li>
      <li class="main-header-top-item">
        <a href="mailto:name@email.com">
          Написать нам 
          <img src="./images/dest/icons/email.png" alt="mail" class="main-header-top-item-icon">
          </a></li>
      <li class="main-header-top-item">
        <label>
          <span class="visually-hidden">Поиск</span>
          <input type="text" class="base-search-input">
          <img src="./images/dest/icons/glass.png" alt="search" class="main-header-top-item-icon">
        </label>
      </li>
      <li class="main-header-top-item">
       <button>
        Войти или Зарегистрироваться
        <img src="./images/dest/icons/user.png" alt="user" class="main-header-top-item-icon">
       </button>
      </li>
    </ul>
  </div>
  <div class="main-header-bottom-wrapper">
    <div class="main-header-bottom container">
    <nav class="main-header-bottom-nav">
        <a href="#" class="main-header-logo">
          <span class="visually-hidden">Аравия</span>
          <img src="./images/dest/icons/mainLogo.png" alt="logo" class="">
        </a>
        <a href="#" class="main-header-bottom-item active">
          Уход <br>
          за лицом
        </a>
        <a href="#" class="main-header-bottom-item">
          Уход <br>
          за телом
        </a>
        <a href="#" class="main-header-bottom-item">
          депиляция
        </a>
        <a href="#" class="main-header-bottom-item">
        Маникюр <br> и педикюр
        </a>
        <a href="#" class="main-header-bottom-item">
        наборы
        </a>
        <a href="#" class="main-header-bottom-item">
          Аксессуары
        </a>
        <a href="#" class="main-header-bottom-item">
          Бренды
        </a>
      </nav>
      <div class="main-header-bottom-right">
        <button class="main-header-bottom-btn">
          <span class="visually-hidden">Избранное</span>
          <img src="./images/dest/icons/heart.png" alt="heart" class="main-header-bottom-item-icon">
        </button>
        <button class="main-header-bottom-btn">
          <img src="./images/dest/icons/bag.png" alt="bag" class="main-header-bottom-item-icon">
          <span class="main-header-bottom-btn-text">Корзина</span>
        </button>
      </div>
    </div>
  </div>
</header>