{% extends "app/njk/layout/main.njk" %}
{% block content %}
  <section class="basket-breadcrumbs container">
    <a href="#" class="basket-back">
      Вернуться к покупкам
    </a>
  </section>
  <h1 class="h1-basket">Оформление заказа</h1>
  <section class="basket-content">
    <div class="container">
      <div class="basket-nav-tabs row">
        <span class="basket-nav-tabs-item active">
          Корзина
        </span>
        <a href="#" class="basket-nav-tabs-item">
          Оплата и доставка
        </a>
        <a href="#" class="basket-nav-tabs-item">
          Оплата
        </a>
      </div>
    </div>
    <article class="basket-help-inner">
      <div class="container">
        <p>Нужна помощь? Звоните 8(800)777-17-39 с 09:00 до 18:00</p>
      </div>
    </article>
    <div class="container">
      <div class="basket-tab-inner" data-tab-name="basket-nav-tabs" id="basket-tab-1">
        <div class="row">
          <div class="basket-tab-inner-product-col">
            <div class="basket-product-inner">
              <div class="basket-product-head">
                <span class="basket-product-head-text">Продукт</span>
                <span class="basket-product-head-text">Количество</span>
                <span class="basket-product-head-text">сумма</span>
              </div>
            </div>
            <div class="basket-product-item">
              <button class="btn--basket-product-item-remove">
                <span class="visually-hidden">Удалить из корзины</span>
              </button>
              <div class="basket-product-item-badge-wrapper">
                <span class="basket-product-item-badge basket-product-item-badge--hit">хит</span>
                <span class="basket-product-item-badge basket-product-item-badge--new">new</span>
              </div>
              <div class="basket-product-item-left">
                <div class="basket-product-item-img" style="background-image: url('./images/dest/img/9K9VNP~M.png');"></div>
                <div class="basket-product-item-text-block">
                  <p class="basket-product-item-name">Крем лифтинговый с аминокислотами и полисахаридами Anti-Wrinkle Lifting Cream, 100 мл
                  </p>
                  <p class="basket-product-item-brand">ARAVIA Professional</p>
                  <p class="basket-product-item-subtitle">Артикул: 9005</p>
                  <p class="basket-product-item-subtitle">Туба:100 мл</p>
                </div>
              </div>
              <div class="basket-product-item-right">
                <div class="basket-product-tab-item-counter">
                  <button class="btn--basket-product-tab-item" onclick="onCounterMinus('counter1')" type="button">
                    <span>–</span>
                  </button>
                  <input class="basket-product-tab-item-input" type="text" value="0" size="4" id="counter1" readonly="readonly">
                  <button class="btn--basket-product-tab-item" onclick="onCounterPlus('counter1')" type="button">
                    <span>+</span>
                  </button>
                </div>
                <p class="basket-product-item-cost">990.00
                  <span class="rub">i</span></p>
              </div>
            </div>

            <div class="basket-product-item">
              <button class="btn--basket-product-item-remove">
                <span class="visually-hidden">Удалить из корзины</span>
              </button>
              <div class="basket-product-item-badge-wrapper">
                <span class="basket-product-item-badge basket-product-item-badge--hit">хит</span>
                <span class="basket-product-item-badge basket-product-item-badge--new">new</span>
              </div>
              <div class="basket-product-item-left">
                <div class="basket-product-item-img" style="background-image: url('./images/dest/img/9K9VNP~M.png');"></div>
                <div class="basket-product-item-text-block">
                  <p class="basket-product-item-name">Крем лифтинговый с аминокислотами и полисахаридами Anti-Wrinkle Lifting Cream, 100 мл
                  </p>
                  <p class="basket-product-item-brand">ARAVIA Professional</p>
                  <p class="basket-product-item-subtitle">Артикул: 9005</p>
                  <p class="basket-product-item-subtitle">Туба:100 мл</p>
                </div>
              </div>
              <div class="basket-product-item-right">
                <div class="basket-product-tab-item-counter">
                  <input class="basket-product-tab-item-input" type="text" value="0" size="4" id="counter1" readonly="readonly">
                </div>
                <span class="basket-product-item-gift-icon">
                  <img src="./images/dest/icons/supermarket-gift.png" alt="подарок">
                </span>
              </div>
            </div>
            <div class="basket-product-bonus-block">
              <div class="basket-product-bonus-wrapper">
                <label class="basket-product-bonus-inner">
                  <input type="checkbox" class="radio-main">
                  <span class="radio-main-fake radio-main-fake--basket-product radio-main-fake--purple"></span>
                  <span class="basket-product-bonus-text-wrapper">
                    <span class="basket-product-bonus-title">хочу ПРИСОЕДИНится К ПРОГРАММЕ ARAVIA Бонус</span>
                    <p class="basket-product-bonus-text">Пройдите регистрацию в программе
                      <a href="#">ARAVIA Бонус</a>
                      и начните получать Кэшбэк до 10% уже сейчас</p>
                  </span>
                </label>
                <label class="basket-product-bonus-inner">
                  <input type="checkbox" class="radio-main">
                  <span class="radio-main-fake radio-main-fake--basket-product radio-main-fake--purple"></span>
                  <span class="basket-product-bonus-title">Использовать подарочный сертификат</span>
                </label>
              </div>
              <input type="text" placeholder="Введите номер сертификата" class="basket-product-bonus-input">
            </div>
          </div>
          <div class="basket-tab-inner-desc-product-col">
            <div class="basket-tab-promocode-wrapper">
              <p>ПРОМОКОД</p>
              <p>или КОД РЕФЕРАЛЬНОЙ ПРОГРАММЫ</p>
              <p>Введите промокод и нажмите ОК</p>
              <form class="basket-tab-promocode-form">
                <label class="basket-tab-promocode-input-wrapper">
                  <input type="text" class="basket-tab-promocode-input">
                </label>
                <button type="submit" class="btn--basket-tab-promocode">OK</button>
              </form>
              <p class="basket-tab-promocode-desc">
                Если промокод по какой-то причине не проходит, укажите его и информацию о его источнике в комментарии при оформлении заказа.
              </p>
            </div>
            <div class="basket-tab-inner-desc-product">
              <div class="basket-tab-inner-desc-product-item">
                <p class="basket-tab-inner-desc-product-title">Товары (2):</p>
                <p class="basket-tab-inner-desc-product-cost basket-tab-inner-desc-product-title">1698
                  <span class="rub">i</span></p>
              </div>
              <div class="basket-tab-inner-desc-product-item">
                <p>Скидки по промокоду</p>
                <p class="basket-tab-inner-desc-product-cost">339
                  <span class="rub">i</span></p>
              </div>

              <div class="basket-tab-inner-desc-product-item">
                <p>Скидки по подарочным
                  <br>
                  сертификатам</p>
                <p class="basket-tab-inner-desc-product-cost">0
                  <span class="rub">i</span></p>
              </div>

              <div class="basket-tab-inner-desc-product-item">
                <p>Оплата бонусами</p>
                <p class="basket-tab-inner-desc-product-cost">-849
                  <span class="rub">i</span></p>
              </div>

              <div class="basket-tab-inner-desc-product-item">
                <p>Скидки по акции</p>
                <p class="basket-tab-inner-desc-product-cost">0
                  <span class="rub">i</span></p>
              </div>
              <div class="basket-tab-inner-product-total">
                <p>Общая сумма
                  <br>
                  к оплате:</p>
                <p class="basket-tab-inner-desc-product-cost">1149
                  <span class="rub">i</span></p>
              </div>
              <a href="#" class="btn-main btn--basket-tab-inner-desc">Перейти к доставке</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="basket-free-delivery-wrapper">
    <div class="container">
      <div class="basket-free-delivery">
        <img src="./images/dest/icons/truck_b.png" alt="доставка" class="basket-free-delivery-img">
        <p>
          До бесплатной доставки вам осталось добавить товар на сумму: 1851
          <span class="rub">i</span>
        </p>
      </div>
    </div>
  </section>

  <section class="basket-profit-promo">
    <div class="container">
      <h1 class="h1-base h1--basket-profit">
        <span class="h1-base-text-underline h1-base-text-underline--right">выгодное предложение</span>
      </h1>
      <div class="main-present-inner row row--wrap">
        {% for i in range(0, 3) %}
          <div class="main-present-col">
            {% from "app/njk/macro.njk" import productCard %}
            {{ productCard(false,"./images/dest/img/specialProduct.png") }}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="basket-product-promo">
    <div class="container">
      <h1 class="h1-base h1--basket-product">
        <span class="h1-base-text-underline h1-base-text-underline--right">Также вам понравится</span>
      </h1>
      <article class="slider-product-wrapper">
        <button class="slider-arrow slider-arrow--prew slider-arrow--product-prew">
          <span class="visually-hidden">Назад</span>
        </button>

        <div class="slider-product js-product-slider-promo">
          {% for i in range(0, 7) %}
            <div class="slider-product-slide-wrapper">
              {% from "app/njk/macro.njk" import productCard %}
              {{ productCard(true,'./images/dest/img/sliderProduct.png', 'hit') }}
            </div>
          {% endfor %}
        </div>
        <button class="slider-arrow slider-arrow--next slider-arrow--product-next">
          <span class="visually-hidden">Вперед</span>
        </button>
      </article>
    </div>
  </section>

  <section class="catalog-feature">
    <h1 class="h1-base h1-base--category-feature text-center">
      <span class="h1-base-text-underline ">наши преимущества</span></h1>
    <div class="container">
      <div class="main-feature-inner row row--wrap">
        {% set featureItems = [
          {
            title: 'самый </br> полный </br> ассортимент',
            img: 'cosmetics.png'
          }, {
            title: 'доставка </br> по России',
            img: 'truckn.png'
          }, {
            title: 'эксклюзивы </br> aravia',
            img: 'crown.png'
          }, {
            title: 'Программа </br> лояльности',
            img: 'money.png'
          }, {
            title: 'безопасные </br> платежи',
            img: 'safe.png'
          }
        ]
 %}
        {% for item in featureItems %}
          <div class="main-feature-col">
            <div class="main-feature-item">
              <div class="main-feature-item-icon">
                <img src="./images/dest/icons/{{item.img}}" alt="feature item">
              </div>
              <p class="main-feature-item-text">
                {{item.title | safe }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}